
$progressBarHeight: 60px;
$progressBarBackgroundColor: #afd8e5;
$progressBarBorderColor: #333;

button,select {
  padding: 1em 1.2em;
}

body {
  margin: 1em;
}

.progress-bar-container {
  margin: 2em auto;
  border: solid black 1px;
}

.progress-bar {
  width: 100%;
  @media screen and (min-width: 620px){
    width: 600px;
  }
  border: solid #ccc 1px;
  height: $progressBarHeight;
  position: relative;

  margin-bottom: 1em;

  .text {
    width: 100%;
    position: absolute;
    top:0;
    text-align: center;
    line-height: $progressBarHeight;
  }

  .level {
    background: $progressBarBackgroundColor;
    height: $progressBarHeight;
    top: 1px;
    transition: width 1s ease-out;
  }
}

@media screen and (max-width: 400px){
  h1 {
    font-size: 1.5em;
  }
}
